// ------------------------------------------------------------- >1250px -------------------------------------------------------------
@media (max-width: 1250px) {

}
// ------------------------------------------------------------- 1024px - 1150px -------------------------------------------------------------
@media (max-width: 1150px) {
    html {
        font-size: 12px !important;
    }
}
// ------------------------------------------------------------- 1024px -------------------------------------------------------------
@media (max-width: 1024px) {
    html {
      font-size: 10px !important;
    }
}
// ------------------------------------------------------------- 768px -------------------------------------------------------------
  @media (max-width: 768px) {
    html {
      font-size: 9px !important;
    }
}
// ------------------------------------------------------------- > 481px -------------------------------------------------------------
@media (max-width: 480px) {
    html {
        font-size: 8px !important;
    }
}