$blue: #024E68;
$orange: #ff8300;
$gray: #f8f4f4;
$l-gray: #9F9F9F;
$d-gray: #E9ECF0;
$accent: #1428a0;
$accent_bright: #4961f2;
$accent_light: #101d6c;
$rgba-blue: rgba(2, 161, 227, .9);
$rgba_light: rgba(2, 161, 227, .25);