@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Inter:wght@400;700&family=Manrope:wght@500&family=Noto+Sans:wght@500&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
$blue: #024E68;
$orange: #ff8300;
$gray: #f8f4f4;
$d-gray: #E9ECF0;
$accent: #1428a0;
$accent_bright: #4961f2;
$accent_light: #101d6c;
$rgba-blue: rgba(2, 161, 227, .9);
$rgba_light: rgba(2, 161, 227, .25);
@import '_reboot.scss';
@import '_media.scss';
@import 'blocks/navigation';
@import 'blocks/banner';
@import 'blocks/aside';
@import 'blocks/content';
@import 'blocks/footer';
@import 'blocks/prices';
@import 'blocks/form';

html {
    font-size: 14px;
}

* {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: #FFF;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.zakaz {
    .hero__content {
        align-items: center;
        margin-bottom: 3rem;
    }
    .hero__img {
        display: flex;
        justify-content: center;
        img {
            width: auto;
        }
    }
    margin-bottom: 10rem;

}

.map__wrapper {
    border: 2px solid $orange;
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem 0;
}

.descr__list {
    padding-left: 2rem;
    margin-bottom: 2rem;
    li {
        font-size: 1.5rem;
        color: $blue;
        a {
            display: block;
            width: 100%;
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
        }
        &::before {
            content: '◉';
            font-size: 1rem;
            display: block;
            transform: translate(-20px, 20px);
        }
    }
}

.unit__page {
    img {
        // width: auto;
    }
    .hero__wrapper {
        display: flex;
        flex-wrap: wrap;
        .unit__descr {
            flex: 0 0 50%;
            margin-bottom: 2rem;
        }
        .unit__img {
            flex: 0 0 50%;
            margin-bottom: 2rem;
        }
    }
}

.italics {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-style: italic;
}
.underline {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: underline;
}

.descr__list__order {
    padding-left: 2rem;
    margin-bottom: 2rem;
    li {
        font-size: 1.5rem;
        color: $blue;
        list-style: auto;
        padding-bottom: 1rem;
        a {
            display: block;
            width: 100%;
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
        }
    }
}

.all__services {
    .descr__list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}