@import "../variables";
.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__descr {
        
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.logo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    &__img {
        width: 150px;
        margin-right: 0.7rem;
    }

    &__name {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        line-height: 1;
        font-weight: 600;
    }
}
.color-text {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: $red;
}
.number {
    font-size: 1.85rem;
    letter-spacing: 0.7px;
    line-height: 1.2;
}
.work-time {
}
